.gameContainer {
  /* background-color: green; */
  display: flex;
}

.hangContainer {
  /* background-color: red; */
  width: 50%;
}

.hangContainer img {
  /* background-color: purple; */
  width: 50%;
}

.rightSide {
  /* background-color: blue; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px;
}

.rightSide button {
  padding: 20px;
  background-color: #27ae60;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 8px;
}