.guessContainer {
  /* background-color: aqua; */
  width: 56%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  font-size: 20px;
  margin-top: 60px;
}

.guessContainer input {
  height: 80%;
  width: 60%;
  border-radius: 7px;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.guessContainer button {
  font-size: 20px;
  width: 100px;
  background-color: #e1ecf4;
  border: 1px solid #7aa7c7;
  border-radius: 7px;
  color: #7aa7c7;
}